html, body, div, main, figure, img, span, form, input, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 20px;
	min-width: 320px;
	line-height: 1.5;
}

:root {
	--site-padding: clamp(30px, 5vw, 100px);
	--color-accent: #fff300;
}

.hero-header {
	width: 100%;
	height: clamp(360px, 75vh, 1080px);
	position: relative;
}
.hero-header:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .36;
	content: '';
	z-index: 2;
}

.hero-logo {
	position: absolute;
	top: 0;
	left: 5%;
	z-index: 9;
	max-width: 100px;
}

.hero-figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 80%;
}

.hero-content {
	position: absolute;
	bottom: 0;
	color: #fff;
	z-index: 9;
	padding: 0 var(--site-padding) 40px;
}
.hero-content h1 {
	font-family: Lora, serif;
	font-size: clamp(42px, 7vw, 58px);
	margin: 0 0 .25em;
}
.hero-content h2 {
	margin: 0 0 .35em;
	line-height: 1.5;
	max-width: 480px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 24px;
}
.hero-content span {  
	position: absolute;
  bottom: 0;
  margin-bottom: -20px;
  background: var(--color-accent);
  padding: 8px 16px;
  color: #000;
  text-align: left;
  display: block;
}

.container {
	max-width: 1680px;
	padding: 75px var(--site-padding);
}
.container + .container {
	padding-top: 0;
}
h3 {
	font-family: Lora, serif;
	font-size: clamp(28px, 4vw, 36px);
	margin: 0 0 .25em;
	position: relative;
	display: inline;
	background-position: 0 calc(100% - 5px);
  background-image: linear-gradient(to right,var(--color-accent),var(--color-accent));
  background-size: 100% 10px;
  background-repeat: no-repeat;
	z-index: 9;
}
h4 {
	font-size: 18px;;
}
.newsletter-text {
	display: block;
	margin-top: 1em;
	line-height: 1.5;
}
.newsletter-form {
	margin: 25px 0 0 calc(var(--site-padding) * -1);
	padding: 25px 0 0;
	max-width: 560px;
	display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  width: calc(100% + 20px);
  margin-left: -10px;
}
.newsletter-form > * {
  flex: auto;
  width: auto;
  margin: 0 10px 20px;
  position: relative;
}
.newsletter-form input {
	min-width: 260px;
	color: #000;
	background: transparent;
	border: 3px solid #000;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  height: 56px;
  padding: 0 12px;
  border-radius: 0;
}
.newsletter-form input::placeholder {
	color: #000;
	opacity: 1;
}
.newsletter-form input:hover,
.newsletter-form input:focus {
	outline: 3px solid var(--color-accent);
}
.newsletter button {
	min-width: 120px;
	background: var(--color-accent);
	color: #000;
	height: 56px;
	border: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.newsletter button:hover,
.newsletter button:focus {
	outline: 3px solid var(--color-accent);
}
.smaller-text {
	font-size: 16px;
	display: block;
}

.footer {
	padding: 0 var(--site-padding) 30px;
	font-size: 14px;
}
.footer span {
	color: #ff0000;
}

.benefits {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 50px;
	align-items: start;
}
.benefits-list {
	margin-left: -40px;
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
	background: #fff7e6;
	justify-content: start;
	padding: 80px 40px 120px;
	margin-top: -20px;
	clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50px, 100% 100%, 100% 100%, 0 100%);
	z-index: -1;
}
.benefits-list li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.benefits-list span {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff300;
	border-radius: 100%;
}

css-slider {
	margin-top: -80px;
	margin-left: 40px;
	width: calc(100% - 40px) !important;
	position: relative;
	z-index: 9;
}
.css-slide {
	height: 60vh;
}
.css-slide:not(:first-child) {
	margin-left: 20px;
}
.css-slide img {
	transition: all 150ms linear;
}
.css-slide img {
	height: 100%;
	width: auto;
}
.css-slider-dot-navigation {
	margin-top: 14px !important;
}

.benefits--right {
	position: sticky;
	top: 0;
	margin-bottom: 140px;
}

.price {
	background: #e6f5ff;
	margin-top: 25px;
	padding: 25px 35px;
}
.price-title {
	font-family: Lora, serif;
	font-size: 60px;    
	position: relative;
}
.price-title small {    
	position: absolute;
  right: -70px;
  top: 10px;
  font-size: 16px;
  vertical-align: top;
}
.price-title span {
  font-size: 30px;
  vertical-align: baseline;
  margin-left: 8px;
}
.price-content {
	line-height: 1.6;
	margin-top: 25px;
	display: block;
}

.contact-list {
	margin-left: -40px;
	list-style: none;
	display: grid;
	background: #e6f5ff;
	padding: 80px 40px 0;
	margin-top: -20px;
	clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50px, 100% 100%, 100% 100%, 0 100%);
	z-index: -1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;;
}
.contact-frame {
	width: 100%;
	height: 0;
	padding-top: 65%;
	position: relative;
}
.contact-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.contact-details {
	margin-top: 40px;
}
.contact-details a {
	color: blue;
	margin-top: 12px;
	display: block;
}
.contact-icons {
	display: flex;
	margin-top: 30px;
}
.contact-icons a {
	width: 64px;
}
.contact-icons img {
	width: 100%;
	height: auto;
}

@media all and (max-width: 968px) {
	.benefits {
		grid-template-columns: 1fr;
	}
	.benefits-list span {
		width: 100px;
		height: 100px;
	}
	.price {
		margin-top: -120px;
	}
	css-slider {
    margin-top: -80px;
    margin-left: 0px;
    width: calc(100% + 30px) !important;
	}
	.contact-list {
		grid-template-columns: 1fr;
	}
	.contact-details {
		margin-top: 0;
		margin-bottom: 40px;;
	}
	.contact-frame {
    width: calc(100% + 40px);
	}
}

@media all and (max-width: 640px) {
	main {
		overflow: hidden;
	}
	.benefits-list {
		grid-template-columns: 1fr 1fr;
		width: 100%;
	}
	.benefits-list li.hide-on-small {
		display: none;
	}
	css-slider {
    margin-left: -30px;
    width: calc(100% + 60px) !important;
	}
	.css-slide:not(:first-child) {
		margin-left: 12px;
	}
	.contact-list {
		width: calc(100% + 70px);
	}
}